<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SMTPEmailAddress" value="xxxx"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="fromAddress@domain.com">
        <network host="smtpEmailServerAddraess" port="25" enableSsl="true"
            userName="useraname" password="password"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>